# System files
.DS_Store
Thumbs.db
*.log

# Backend
backend/node_modules/
backend/dist/
backend/*.log
backend/.env

# Client
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.packages
client/.pub-cache/
client/.pub/
client/build/
client/*.log
client/.idea/
client/.vscode/
client/*.iml

# Android specific
client/android/**/generated/
client/android/app/debug/
client/android/app/profile/
client/android/app/release/

# iOS specific
client/ios/Flutter/Generated.xcconfig
client/ios/Flutter/flutter_export_environment.sh
client/ios/Flutter/App.framework
client/ios/Flutter/App.podspec

# Other
node_modules/
dist/
build/
.env
